@page
@{
    Layout = "~/View/Pages/StartPages/_Layout_Start.cshtml";
    ViewData["Title"] = "Welcome";
}
<h2>Вы уже зарегестрированны? <a asp-page="/StartPages/Login">Войти</a></h2>
<h2>Здесь вы можете  <a asp-page="/StartPages/Register">зарегистрироваться</a></h2>